LOT_NAME=file_folder_name
SIZE=file_size_in_megabytes
WORKSPACE=/workspace

VAST_MACHINE_ID = your_machine_id_here
VAST_DISK_SIZE = how_much_disk_size_you_need
VAST_API_KEY = your_api_key_here

LOCAL_UTILS_PATH = utils_path
LOCAL_DATA_PATH = data_path